.landing-card {
    padding: 10px;
    margin: 10px;
}
.landing-card > div > img {
    height: 300px;
}

.landing-content button {
    height: 250px;
    margin: 15px;
    margin-left: 125px;
    width: 250px;
}
